<form action="<%= users_url %>" method="post">

	<label>Username:
		<input name="user[username]" type="text">
	</label>
	<br>
	
	<label>Password:
		<input name="user[password]" type="password" value="">
	</label>

</form>